nav{
    border-bottom: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a {
    margin-left: 20px;
    margin-right: 30px;
    color: darkgrey;
}

a:hover {
    color: lightgray;
}

#shelf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img{
    border-style: solid;
    border-width: 2px;
    border-color: gainsboro;
}

.products{
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro;
    padding: 30px;
    margin: 3px;
    width: 250px;
}

#checkout{
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    padding: 30px;
    margin: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

#validate1{
    color: red;
}

#validate2{
    color: red;
}

#validate3{
    color: red;
}

#validate4{
    color: red;
}

#validate5{
    color: red;
}

#validate6{
    color: red;
}


